/*Regular CSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Note Section*/
/*
	  #2b6777
	  #c8d8e4
	  #fffff
	  #f2f2f2
  */

body {
	font-family: 'SolaimanLipi', 'Oswald', Arial, sans-serif !important;
}
img{
	max-width: 100%;
}
a.read_more{
	color: #fff;
    background: green;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    transition: 0.5s;
}

a.read_more:hover{
	background-color: rgb(186, 223, 23);
}



/*==================================================
Body Styling
====================================================*/
#body_area {
	padding: 45px 0;
}

#body_area .blog_area {
	width: 100%;
	margin-bottom: 17px;
	background: rgb(243, 243, 243);
	padding: 15px;
}

#body_area .blog_area .post_thumb {
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
}

#body_area .blog_area .post_thumb img {
	width: 100%;
	display: block;
	transition: 0.5s;
}
#body_area .blog_area .post_thumb img:hover {
	transform: scale(1.1);
}

#body_area .post_details {
	width: 100%;
	margin-bottom: 15px;
}
#body_area .post_details h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 7000;
	font-size: 30px;
}

#body_area .post_details h2 a {
	color: #262626;
	text-decoration: none;
	transition: 0.5s;
}
#body_area .post_details h2 a:hover {
	color: #00A651;
}
/*==================================================
Pagenav Styling
====================================================*/
#page_nav{}
#page_nav P.pages{
	background-color:green;
	color:#fff;
	padding: 5px 10px;
}
#page_nav P.pages span{
	display: inline-block;
	padding:0 5px;
}
#page_nav .page-numbers{
	background: green;
	color:#fff;
	display: inline-block;
	padding: 5px 10px;
	margin-right: 5px;
	transition: 0.5s;
}
#page_nav .page-numbers.current, #page_nav .page-numbers:hover{
	background: #262626;
}







/*==================================================
Copyright Styling
====================================================*/
